GazetteConverterLib/参照用/TR8.DTD

<!ENTITY % SPECIAL   PUBLIC 
               "-//JAPANESE PATENT OFFICE//ENTITIES JPO Special Characters//EN"    >

%SPECIAL;
<!--<Title>JPO Trademark Registration Gazette
=========================================================
DTD Reference : JPO Trademark Registration Gazette
DTD Level : 1
Rev Date : 23 APL 2007
Highlights : None
=========================================================
The following set of declarations may be referred to
using the public entity as follows:
<!DOCTYPE TM-REG-GAZ PUBLIC
"-//JAPANESE PATENT OFFICE//DTD JPO Trademark Registration Gazette//EN" []>-->
<!ELEMENT TM-REG-GAZ  - - (PUBLICATION-COUNTRY,PUBLICATION-DATE,
               KIND-OF-OFFICIAL-GAZETTE,REGISTRATION-NUMBER,REGISTRATION-DATE?,
               REPLACED-REGISTRATION-DATE?,TRADEMARK?,
               COLLECTIVE-TRADEMARK-INDICATION?,REGIONAL-TRADEMARK-INDICATION?,
               TD-TRADEMARK-INDICATION?,TD-DEFENSIVE-MARK-INDICATION?,
               NUMBER-OF-GOODS-SERVICE-CLASS?,CLASS-OF-GOODS-AND-SERVICE?,
               BEFORE-REPLACED-CLASS-OF-GOODS?,NUMBER-OF-REPLACED-GOODS-CLASS?,
               REPLACED-CLASS-OF-GOODS?,VERSION-OF-NICE-CLASS?,NICE-CLASS?,
               APPLICATION-NUMBER?,FILING-DATE,REPLACED-APPLICATION-NUMBER?,
               REPLACED-APPLICATION-DATE?,SPECIAL-APPLICATION-INDICATION?,
               INTER-REG-CHANGE-INDICATION?,APPEAL-NUMBER?,APPEAL-DATE?,
               PARIS-PRIORITY-CLAIM-ARTICLE?,RIGHT-HOLDER-GROUP,
               TRADEMARK-LAW-SEC-3-2-APPLIED?,TRADEMARK-LAW-SEC-9-1-APPLIED?,
               TRADEMARK-LAW-SEC-5-4-APPLIED?,TRADEMARK-LAW-SEC-68-32-1-APPLIED?,
               TRADEMARK-LAW-SEC-68-33-1-APPLIED?,TRADEMARK-LAW-SEC-68-37-APPLIED?,
               COLOR-INDICATION?,OBJECT-APPLICATION?,SPECIAL-TRADEMARK*,
               OVERLAPPED-OTHER-APPLICATION?,OVERLAPPED-OTHER-REGISTRATION?,
               OVERLAPPED-OTHER-APPLICATION-REF?,DISTINCTION-OF-THE-LAW,
               EXAMINER-GROUP?,APPEAL-EXAMINER-GROUP?,PRONUNCIATION?,
               TRADEMARK-FOR-INDICATION?,SIMILAR-GROUP-CODE-GROUP?,
               VIENNA-FIGURE-CLASSIFICATION?) >

<!ELEMENT PUBLICATION-COUNTRY  - - (#PCDATA) >

<!ELEMENT PUBLICATION-DATE  - - (#PCDATA) >

<!ELEMENT KIND-OF-OFFICIAL-GAZETTE  - - (#PCDATA) >

<!ELEMENT REGISTRATION-NUMBER  - - (#PCDATA) >

<!ATTLIST REGISTRATION-NUMBER
               KIND-OF-REGISTRATION-NUMBER (REGISTRATION | DIVISION | PROTECTION)  
                #IMPLIED  >

<!ELEMENT REGISTRATION-DATE  - - (#PCDATA) >

<!ELEMENT REPLACED-REGISTRATION-DATE  - - (#PCDATA) >

<!ELEMENT TRADEMARK  - - (IMAGE+ | CHARACTER) >

<!ATTLIST TRADEMARK
               KIND-OF-TRADEMARK (TRADEMARK | DEFENSIVE-MARK | CHARACTER | 
               DEFENSIVE-CHARACTER)   #IMPLIED  >

<!ELEMENT COLLECTIVE-TRADEMARK-INDICATION  - O  EMPTY  >

<!ATTLIST COLLECTIVE-TRADEMARK-INDICATION
               COLLECTIVE-TRADEMARK-FLAG (TRUE | FALSE)   #IMPLIED  >

<!ELEMENT REGIONAL-TRADEMARK-INDICATION  - O  EMPTY  >

<!ATTLIST REGIONAL-TRADEMARK-INDICATION
               REGIONAL-TRADEMARK-FLAG (TRUE | FALSE)   #IMPLIED  >

<!ELEMENT TD-TRADEMARK-INDICATION  - O  EMPTY  >

<!ATTLIST TD-TRADEMARK-INDICATION
               TD-TRADEMARK-FLAG (TRUE | FALSE)   #IMPLIED  >

<!ELEMENT TD-DEFENSIVE-MARK-INDICATION  - O  EMPTY  >

<!ATTLIST TD-DEFENSIVE-MARK-INDICATION
               TD-DEFENSIVE-MARK-FLAG (TRUE | FALSE)   #IMPLIED  >

<!ELEMENT NUMBER-OF-GOODS-SERVICE-CLASS  - - (#PCDATA) >

<!ELEMENT CLASS-OF-GOODS-AND-SERVICE  - - (GOODS-AND-SERVICE-CLASS-GROUP+) >

<!ATTLIST CLASS-OF-GOODS-AND-SERVICE
               CLASSIFICATION (JAPANESE | INTERNATIONAL)   #IMPLIED  >

<!ELEMENT BEFORE-REPLACED-CLASS-OF-GOODS  - - (GOODS-AND-SERVICE-CLASS-GROUP+) >

<!ELEMENT NUMBER-OF-REPLACED-GOODS-CLASS  - - (#PCDATA) >

<!ELEMENT REPLACED-CLASS-OF-GOODS  - - (GOODS-AND-SERVICE-CLASS-GROUP+) >

<!ELEMENT VERSION-OF-NICE-CLASS  - O  EMPTY  >

<!ATTLIST VERSION-OF-NICE-CLASS
               VERSION  CDATA    #IMPLIED  >

<!ELEMENT NICE-CLASS  - - (#PCDATA) >

<!ELEMENT APPLICATION-NUMBER  - - (#PCDATA) >

<!ELEMENT FILING-DATE  - - (#PCDATA) >

<!ELEMENT REPLACED-APPLICATION-NUMBER  - - (#PCDATA) >

<!ELEMENT REPLACED-APPLICATION-DATE  - - (#PCDATA) >

<!ELEMENT SPECIAL-APPLICATION-INDICATION  - - (#PCDATA) >

<!ATTLIST SPECIAL-APPLICATION-INDICATION
               KIND-OF-APPLICATION-INDICATION (DIVISION | CHANGE)   #IMPLIED  >

<!ELEMENT INTER-REG-CHANGE-INDICATION  - - (#PCDATA) >

<!ELEMENT APPEAL-NUMBER  - - (#PCDATA) >

<!ELEMENT APPEAL-DATE  - - (#PCDATA) >

<!ELEMENT PARIS-PRIORITY-CLAIM-ARTICLE  - - (PARIS-PRIORITY-GROUP+) >

<!ELEMENT RIGHT-HOLDER-GROUP  - - (RIGHT-HOLDER | PROXY)+ >

<!ELEMENT TRADEMARK-LAW-SEC-3-2-APPLIED  - O  EMPTY  >

<!ATTLIST TRADEMARK-LAW-SEC-3-2-APPLIED
               TRADEMARK-LAW-SEC-3-2-FLAG (TRUE | FALSE)   #IMPLIED  >

<!ELEMENT TRADEMARK-LAW-SEC-9-1-APPLIED  - O  EMPTY  >

<!ATTLIST TRADEMARK-LAW-SEC-9-1-APPLIED
               TRADEMARK-LAW-SEC-9-1-FLAG (TRUE | FALSE)   #IMPLIED  >

<!ELEMENT TRADEMARK-LAW-SEC-5-4-APPLIED  - - (#PCDATA) >

<!ATTLIST TRADEMARK-LAW-SEC-5-4-APPLIED
               TRADEMARK-LAW-SEC-5-4-FLAG (TRUE | FALSE)   #IMPLIED  >

<!ELEMENT TRADEMARK-LAW-SEC-68-32-1-APPLIED  - - (#PCDATA) >

<!ATTLIST TRADEMARK-LAW-SEC-68-32-1-APPLIED
               TRADEMARK-LAW-SEC-68-32-1-FLAG (TRUE | FALSE)   #IMPLIED  >

<!ELEMENT TRADEMARK-LAW-SEC-68-33-1-APPLIED  - - (#PCDATA) >

<!ATTLIST TRADEMARK-LAW-SEC-68-33-1-APPLIED
               TRADEMARK-LAW-SEC-68-33-1-FLAG (TRUE | FALSE)   #IMPLIED  >

<!ELEMENT TRADEMARK-LAW-SEC-68-37-APPLIED  - - (#PCDATA) >

<!ATTLIST TRADEMARK-LAW-SEC-68-37-APPLIED
               TRADEMARK-LAW-SEC-68-37-FLAG (TRUE | FALSE)   #IMPLIED  >

<!ELEMENT COLOR-INDICATION  - - (#PCDATA) >

<!ELEMENT OBJECT-APPLICATION  - O  EMPTY  >

<!ATTLIST OBJECT-APPLICATION
               KIND-OF-OBJECT-APPLICATION (ACCELERATED-EXAM | 
               ACCELERATED-APPEAL-EXAM)   #IMPLIED  >

<!ELEMENT SPECIAL-TRADEMARK  - O  EMPTY  >

<!ATTLIST SPECIAL-TRADEMARK
               KIND-OF-SPECIAL-TRADEMARK (SPECIAL-PROVISION-TRADEMARK | 
               OVERLAP-TRADEMARK)   #IMPLIED  >

<!ELEMENT OVERLAPPED-OTHER-APPLICATION  - - (#PCDATA) >

<!ELEMENT OVERLAPPED-OTHER-REGISTRATION  - - (#PCDATA) >

<!ELEMENT OVERLAPPED-OTHER-APPLICATION-REF  - - (#PCDATA) >

<!ELEMENT DISTINCTION-OF-THE-LAW  - - (#PCDATA) >

<!ELEMENT EXAMINER-GROUP  - - (EXAMINER) >

<!ELEMENT APPEAL-EXAMINER-GROUP  - - (APPEAL-EXAMINER-IN-CHIEF,APPEAL-EXAMINER+) >

<!ELEMENT PRONUNCIATION  - - (#PCDATA) >

<!ELEMENT TRADEMARK-FOR-INDICATION  - - (#PCDATA) >

<!ELEMENT SIMILAR-GROUP-CODE-GROUP  - - (SIMILAR-GROUP+) >

<!ELEMENT VIENNA-FIGURE-CLASSIFICATION  - - (#PCDATA) >

<!ELEMENT IMAGE  - O  EMPTY  >

<!ATTLIST IMAGE
               HEIGHT  CDATA    #REQUIRED 
               WIDTH  CDATA    #REQUIRED 
               FILE-NAME  ENTITY    #REQUIRED 
               FILE-ID  CDATA    #IMPLIED 
               ORIGINAL-FILE-NAME  CDATA    #IMPLIED  >

<!ELEMENT CHARACTER  - - (#PCDATA) >

<!ELEMENT GOODS-AND-SERVICE-CLASS-GROUP  - - (CLASS?,GOODS-AND-SERVICE?) >

<!ELEMENT PARIS-PRIORITY-GROUP  - - (APPLICATION-NUMBER?,FILING-DATE?,NATION?) >

<!ELEMENT RIGHT-HOLDER  - - (IDENTIFICATION-NUMBER?,NAME,ORIGINAL-NAME?,ADDRESS,
               ORIGINAL-ADDRESS?) >

<!ATTLIST RIGHT-HOLDER
               KIND-OF-RIGHT-HOLDER (RIGHT-HOLDER | APPLICANT)   #IMPLIED  >

<!ELEMENT PROXY  - - (IDENTIFICATION-NUMBER?,ATTORNEY-RIGHT?,NAME?) >

<!ATTLIST PROXY
               KIND-OF-ATTORNEY (REPRESENTATIVE | SUB-REPRESENTATIVE | 
               LEGAL-REPRESENTATIVE | DESIGNATED-REPRESENTATIVE)   #REQUIRED  >

<!ELEMENT EXAMINER  - - (NAME) >

<!ELEMENT APPEAL-EXAMINER-IN-CHIEF  - - (OFFICIAL-TITLE?,NAME?) >

<!ELEMENT APPEAL-EXAMINER  - - (OFFICIAL-TITLE?,NAME?) >

<!ELEMENT SIMILAR-GROUP  - - (SIMILAR-GROUP-CLASSIFICATION?,SIMILAR-GROUP-CODE?) >

<!ELEMENT CLASS  - - (#PCDATA) >

<!ELEMENT GOODS-AND-SERVICE  - - (#PCDATA) >

<!ELEMENT NATION  - - (#PCDATA) >

<!ELEMENT IDENTIFICATION-NUMBER  - - (#PCDATA) >

<!ELEMENT NAME  - - (#PCDATA) >

<!ELEMENT ORIGINAL-NAME  - - (#PCDATA) >

<!ELEMENT ADDRESS  - - (#PCDATA) >

<!ELEMENT ORIGINAL-ADDRESS  - - (#PCDATA) >

<!ELEMENT ATTORNEY-RIGHT  - O  EMPTY  >

<!ATTLIST ATTORNEY-RIGHT
               KIND-OF-ATTORNEY-RIGHT (PATENT-ATTORNEY | ATTORNEY-AT-LAW)  
                #IMPLIED  >

<!ELEMENT OFFICIAL-TITLE  - - (#PCDATA) >

<!ELEMENT SIMILAR-GROUP-CLASSIFICATION  - - (#PCDATA) >

<!ELEMENT SIMILAR-GROUP-CODE  - - (#PCDATA) >

